@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$empresa: evilcorp;

// ****************************************************
// *          DEFAULT GLOBAL VARIABLES                *
// ****************************************************
$main-background: linear-gradient(90deg, rgba(42,42,123,1) 0%, rgba(22,17,98,1) 99%);
$button-background: lightcoral;
$button-background-hover: lightsalmon;
$default-shadow-falla: -2px -1px 23px 0px rgba(255,255,255,1);
$default-border-color-falla: white;
$border-color-falla: $default-border-color-falla;
$box-shadow-falla: $default-shadow-falla;

@if $empresa == evilcorp {
    $main-background: rgb(153,44,232);
    $button-background: #E8A22C;
    $button-background-hover: #FF4A3D;
    $box-shadow-falla: -2px -1px 23px 0px rgba(251,255,0,1);
    $border-color-falla: rgb(251,255,0);
    @import url("evilcorp.css");
}
@else if $empresa == starbredCoffe {
    @import url("starbredCoffe.scss");
}

%cleanMargins {
    margin: 0;
    padding: 0;
}

%estilosInput {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px 20px 5px 20px;
    text-align: center;
}

%estilosBotones {

    @extend %estilosInput;

    cursor: pointer;
    outline: 0;
    background-color: $button-background;
    transition-property: background-color;
    transition-duration: 1s;

    &:active {
        transform: translateY(2px);
    }

    &:hover {
        background-color: $button-background-hover;
    }
}

%display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

%style-fallaBienVotada {
    border: 1px solid $border-color-falla;
    
    &:hover {
        box-shadow: $box-shadow-falla;
    }
}

body {
    @extend %cleanMargins;
    background: $main-background;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

input[name="inputFalla"] {
    @extend %estilosInput;
}

.btnMostrarFallas {
    @extend %estilosBotones;
}

main {

    @extend %display-flex-center;

    nav {

        @extend %display-flex-center;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 2%;
        width: 100%;

        header {
            color: #fff;
            font-size: 20px;
            margin-bottom: 1%;
            border-bottom: 1px solid white;
            width: 50%;
            text-align: center;
        }
    
        #form {
    
            @extend %display-flex-center;
            flex-direction: column;
            width: 50%;
            
            * {
                margin: 10px;
            }
        
            p {
                color: #fff;
            }
    
            .inputsForm {
    
                width: 90%;
                padding: 0px 10px;
                line-height: 2rem;
                border-radius: 0.4rem;
                border: 0.4px solid gray;
                outline: none;
    
                &:placeholder {
                    color: #B0BEC5;
                }
    
            }
    
            span {
                color: #fff;
            }
        
        }

    }

    #contenedorFallas {
    
        @extend %display-flex-center;
        margin-top: 50px;
        width: 100%;

        .falla {

            transition-property: box-shadow;
            transition-duration: .3s;
            @extend %display-flex-center;
            background-color: #fff;
            flex-direction: column;
            border-radius: 2px;
            padding: 10px;
            margin: 10px;
            width: 350px;
            height: 510px;

            img {
                transition: transform .3s;
                width: 200px;
                height: 250px;
                border-radius: 5px;
            }

            * {
                margin: 5px;
            }

            .btnUbicacion {
                @extend %estilosBotones;
            }

        }

    }

}

.btnVerMas {
    @extend %estilosBotones;
    margin: 5%;
    display: none;
}

#contenedorMapa {

    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    transition-property: opacity;
    transition-duration: .5s;
    opacity: 0;
    z-index: -1;

    #myMap {
        position: absolute;
        width: 90%;
        height: 90%;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

}

.infoFalla {
    
    @extend %display-flex-center;
    text-align: center;

    img {
        width: 50px;
        height: 50px;
    }

}

.fallaNormal {
    border: 1px solid $default-border-color-falla;

    &:hover {
        box-shadow: $default-shadow-falla;
    }
}

.fallaMasVotada {
    @extend %style-fallaBienVotada;
}

.star-rating {

    $selected: #F39C12;
    $size: 25px;
    $normal: #95A5A6;
    
    display: inline-block;
    
    span {
    
        float: right;
        width: $size;
        height: $size;
        line-height: $size;
        font-size: $size;
        color: $normal;
        text-decoration: none;
        text-align: center;
        transition: color .3s;
        cursor: pointer;
      
        &:hover {

            color: $selected;           
            
            & ~ span {
                color: $selected;
            }
        }
    }
  
}

.wrap-btnEliminarPuntuacion {

    @extend %display-flex-center;

    .btnEliminarPuntuacion {
        @extend %estilosBotones;
        display: none;
    }

}

#wrap-btn-scrollTop {
    
    position: fixed;
    right: 3%;
    bottom: 3%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .7s;
    background-color: $button-background;
    padding: 5px;
    border-radius: 20px;

    .btn-scrollTop {
        transition: .3s ease-in-out;
        outline: none;
        border: none;
        font-size: 40px;
        color: white;
        background-color: transparent;

        &:hover {
            transform: rotate(360deg);
        }

    }
    
}