@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$box-shadow-falla: 4px 8px 12px -1px rgba(0,0,0,0.75);;

%cleanMargins {
    margin: 0;
    padding: 0;
}

%estilosInput {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px 20px 5px 20px;
    text-align: center;
}

%estilosBotones {

    @extend %estilosInput;

    cursor: pointer;
    background-color: lightcoral;
    transition-property: background-color;
    transition-duration: 1s;

    &:active {
        transform: translateY(2px);
    }

    &:hover {
        background-color: lightsalmon;
    }
}

%display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

* {
    @extend %cleanMargins;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(90deg, rgba(42,42,123,1) 0%, rgba(22,17,98,1) 99%);;
}

input[name="inputFalla"] {
    @extend %estilosInput;
}

.btnMostrarFallas {
    @extend %estilosBotones;
}

main {

    @extend %display-flex-center;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2%;
    width: 100%;
    background: linear-gradient(90deg, rgba(42,42,123,1) 0%, rgba(22,17,98,1) 99%);

    header {
        color: #fff;
        font-size: 20px;
        margin-bottom: 1%;
        border-bottom: 1px solid white;
        width: 50%;
        text-align: center;
    }

    #form {

        @extend %display-flex-center;
        flex-direction: column;
        width: 50%;
        
        * {
            margin: 10px;
        }
    
        .inputsForm {

            width: 90%;
            padding: 0px 10px;
            line-height: 2rem;
            border-radius: 0.4rem;
            border: 0.4px solid gray;

            &:placeholder {
                color: #B0BEC5;
            }

        }

        span {
            color: #fff;
        }
    
    }

    #contenedorFallas {

        @extend %display-flex-center;
        margin-top: 50px;
        width: 100%;

        .falla {

            @extend %display-flex-center;
            background-color: #fff;
            flex-direction: column;
            padding: 20px;
            box-shadow: $box-shadow-falla;
            margin: 10px;
            min-width: 200px;

            img {
                width: 250px;
                height: 300px;
            }

            * {
                margin: 5px;
            }

            .btnUbicacion {
                @extend %estilosBotones;
            }

        }

    }

}

#contenedorMapa {

    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    transition-property: opacity;
    transition-duration: 1s;
    opacity: 0;
    z-index: -1;

    #myMap {
        position: absolute;
        width: 90%;
        height: 90%;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

}

.infoFalla {
    
    @extend %display-flex-center;
    text-align: center;

    img {
        width: 50px;
        height: 50px;
    }

}

.star-rating {

    $selected: #F39C12;
    $size: 25px;
    $normal: #95A5A6;
    
    display: inline-block;
    
    span {
    
        float: right;
        width: $size;
        height: $size;
        line-height: $size;
        font-size: $size;
        color: $normal;
        text-decoration: none;
        text-align: center;
        transition: color .3s;
        cursor: pointer;
      
        &:hover {

            color: $selected;           
            
            & ~ span {
                color: $selected;
            }
        }
    }
  
}

.wrap-btnEliminarPuntuacion {

    @extend %display-flex-center;

    .btnEliminarPuntuacion {
        @extend %estilosBotones;
        display: none;
    }

}

