@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("evilcorp.css");
body {
  margin: 0;
  padding: 0; }

.btnMostrarFallas, main #contenedorFallas .falla .btnUbicacion, .btnVerMas, .wrap-btnEliminarPuntuacion .btnEliminarPuntuacion, input[name="inputFalla"] {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 20px 5px 20px;
  text-align: center; }

.btnMostrarFallas, main #contenedorFallas .falla .btnUbicacion, .btnVerMas, .wrap-btnEliminarPuntuacion .btnEliminarPuntuacion {
  cursor: pointer;
  outline: 0;
  background-color: #E8A22C;
  transition-property: background-color;
  transition-duration: 1s; }
  .btnMostrarFallas:active, main #contenedorFallas .falla .btnUbicacion:active, .btnVerMas:active, .wrap-btnEliminarPuntuacion .btnEliminarPuntuacion:active {
    transform: translateY(2px); }
  .btnMostrarFallas:hover, main #contenedorFallas .falla .btnUbicacion:hover, .btnVerMas:hover, .wrap-btnEliminarPuntuacion .btnEliminarPuntuacion:hover {
    background-color: #FF4A3D; }

main, main nav, main nav #form, main #contenedorFallas, main #contenedorFallas .falla, .infoFalla, .wrap-btnEliminarPuntuacion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.fallaMasVotada {
  border: 1px solid #fbff00; }
  .fallaMasVotada:hover {
    box-shadow: -2px -1px 23px 0px #fbff00; }

body {
  background: #992ce8;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; }

main nav {
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 2%;
  width: 100%; }
  main nav header {
    color: #fff;
    font-size: 20px;
    margin-bottom: 1%;
    border-bottom: 1px solid white;
    width: 50%;
    text-align: center; }
  main nav #form {
    flex-direction: column;
    width: 50%; }
    main nav #form * {
      margin: 10px; }
    main nav #form p {
      color: #fff; }
    main nav #form .inputsForm {
      width: 90%;
      padding: 0px 10px;
      line-height: 2rem;
      border-radius: 0.4rem;
      border: 0.4px solid gray;
      outline: none; }
      main nav #form .inputsForm:placeholder {
        color: #B0BEC5; }
    main nav #form span {
      color: #fff; }

main #contenedorFallas {
  margin-top: 50px;
  width: 100%; }
  main #contenedorFallas .falla {
    transition-property: box-shadow;
    transition-duration: .3s;
    background-color: #fff;
    flex-direction: column;
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
    width: 350px;
    height: 510px; }
    main #contenedorFallas .falla img {
      transition: transform .3s;
      width: 200px;
      height: 250px;
      border-radius: 5px; }
    main #contenedorFallas .falla * {
      margin: 5px; }

.btnVerMas {
  margin: 5%;
  display: none; }

#contenedorMapa {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  transition-property: opacity;
  transition-duration: .5s;
  opacity: 0;
  z-index: -1; }
  #contenedorMapa #myMap {
    position: absolute;
    width: 90%;
    height: 90%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

.infoFalla {
  text-align: center; }
  .infoFalla img {
    width: 50px;
    height: 50px; }

.fallaNormal {
  border: 1px solid white; }
  .fallaNormal:hover {
    box-shadow: -2px -1px 23px 0px white; }

.star-rating {
  display: inline-block; }
  .star-rating span {
    float: right;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 25px;
    color: #95A5A6;
    text-decoration: none;
    text-align: center;
    transition: color .3s;
    cursor: pointer; }
    .star-rating span:hover {
      color: #F39C12; }
      .star-rating span:hover ~ span {
        color: #F39C12; }

.wrap-btnEliminarPuntuacion .btnEliminarPuntuacion {
  display: none; }

#wrap-btn-scrollTop {
  position: fixed;
  right: 3%;
  bottom: 3%;
  opacity: 0;
  transition-property: opacity;
  transition-duration: .7s;
  background-color: #E8A22C;
  padding: 5px;
  border-radius: 20px; }
  #wrap-btn-scrollTop .btn-scrollTop {
    transition: .3s ease-in-out;
    outline: none;
    border: none;
    font-size: 40px;
    color: white;
    background-color: transparent; }
    #wrap-btn-scrollTop .btn-scrollTop:hover {
      transform: rotate(360deg); }
