@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0; }

.btnMostrarFallas, main #contenedorFallas .falla .btnUbicacion, .btnVerMas, .wrap-btnEliminarPuntuacion .btnEliminarPuntuacion, input[name="inputFalla"] {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 20px 5px 20px;
  text-align: center; }

.btnMostrarFallas, main #contenedorFallas .falla .btnUbicacion, .btnVerMas, .wrap-btnEliminarPuntuacion .btnEliminarPuntuacion {
  cursor: pointer;
  background-color: lightcoral;
  transition-property: background-color;
  transition-duration: 1s; }
  .btnMostrarFallas:active, main #contenedorFallas .falla .btnUbicacion:active, .btnVerMas:active, .wrap-btnEliminarPuntuacion .btnEliminarPuntuacion:active {
    transform: translateY(2px); }
  .btnMostrarFallas:hover, main #contenedorFallas .falla .btnUbicacion:hover, .btnVerMas:hover, .wrap-btnEliminarPuntuacion .btnEliminarPuntuacion:hover {
    background-color: lightsalmon; }

main, main #form, main #contenedorFallas, main #contenedorFallas .falla, .infoFalla, .wrap-btnEliminarPuntuacion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

* {
  outline: none;
  font-family: 'Montserrat', sans-serif; }

body {
  height: 100vh;
  background: linear-gradient(90deg, #2a2a7b 0%, #161162 99%); }

main {
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 2%;
  width: 100%;
  background: linear-gradient(90deg, #2a2a7b 0%, #161162 99%); }
  main header {
    color: #fff;
    font-size: 20px;
    margin-bottom: 1%;
    border-bottom: 1px solid white;
    width: 50%;
    text-align: center; }
  main #form {
    flex-direction: column;
    width: 50%; }
    main #form * {
      margin: 10px; }
    main #form p {
      color: #fff; }
    main #form .inputsForm {
      width: 90%;
      padding: 0px 10px;
      line-height: 2rem;
      border-radius: 0.4rem;
      border: 0.4px solid gray; }
      main #form .inputsForm:placeholder {
        color: #B0BEC5; }
    main #form span {
      color: #fff; }
  main #contenedorFallas {
    margin-top: 50px;
    width: 100%; }
    main #contenedorFallas .falla {
      background-color: #fff;
      flex-direction: column;
      padding: 20px;
      box-shadow: 4px 8px 12px -1px rgba(0, 0, 0, 0.75);
      margin: 10px;
      width: 250px; }
      @media screen and (max-width: 619px) {
        main #contenedorFallas .falla {
          width: 70%; }
          main #contenedorFallas .falla img {
            width: 90%; } }
      main #contenedorFallas .falla img {
        width: 250px;
        height: 300px;
        border-radius: 5px; }
      main #contenedorFallas .falla * {
        margin: 5px; }

.btnVerMas {
  margin: 5%;
  display: none; }

#contenedorMapa {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  transition-property: opacity;
  transition-duration: 1s;
  opacity: 0;
  z-index: -1; }
  #contenedorMapa #myMap {
    position: absolute;
    width: 90%;
    height: 90%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

.infoFalla {
  text-align: center; }
  .infoFalla img {
    width: 50px;
    height: 50px; }

.star-rating {
  display: inline-block; }
  .star-rating span {
    float: right;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 25px;
    color: #95A5A6;
    text-decoration: none;
    text-align: center;
    transition: color .3s;
    cursor: pointer; }
    .star-rating span:hover {
      color: #F39C12; }
      .star-rating span:hover ~ span {
        color: #F39C12; }

.wrap-btnEliminarPuntuacion .btnEliminarPuntuacion {
  display: none; }
